<div class="container">
  <div class="productos">

    <h2>Carrito de compras</h2>
    
    <div class="column">      
        <div id="listadoCarritos">          
          <h3 id="userID">{{userCart._id}}</h3>         
          </br>
            <div >
                {{#each userCart.products}}
                <h5>Producto: <span>{{this._id}}</span><h5/>                           
                <h5>Cantidad: {{this.quantity}}<h5/>
                </br>
                {{/each}}
            </div>        
                  <button onclick="agregar(this)"  class="btn btn-primary"
          id="btnLogin">TERMINAR COMPRA</button>
        </div>
      
      <br />
    </div>
  </div>
  <script src="/js/comprar.js"></script>