<div>
  <h4>Login con Github</h4>
  <a href="/api/sessions/github">
    <button class="btn btn-primary">Login con GitHub</button></a>
  <br />
  <br />

  <h5> Si no quieres usar login Github</h5>
  <p>No estas registrado? <a href="/users/register">Registrate aqui</a></p>
  <p>Ya estas registrado? <a href="/users/login">Login</a></p>

</div>