<div class="container">
  <div class="login-container text-center">
    <h4>Login con GitHub</h4>
    <a href="/api/sessions/github" class="btn btn-primary">Login con GitHub</a>
    <br />
    <br />
    <p>Ya estás registrado? <a href="/users/login">Login</a></p>
    <p>No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
  </div>
</div>