<div>
  <h2>TODOS LOS PRODUCTOS</h2>
  {{#each products}}

    <h3>{{this.Title}} {{this.Description}}</h3>
    <p>Precio: {{this.Price}}</p>
    <p>ID: {{this.id}}</p>

  {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>