<div>
  <h2>Bienvenido al CHAT</h2>
  <h3> User: <span id="myName"></span></h3>

  <div>
    <p>Escribe un mensaje
      <input id="chatBox" type="text" placeholder="Type your message..." /></p>

    <button id="closeChatBox">Cerrar Chatbox</button>
  </div>

  <div>
    <p id="chatlogs"></p>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>