<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="pb-5">RECUPERAR CONTRASEÑA</h2>
      <form
        class="form_main"
        action="/api/sessions/newPassword/{{token}}"
        method="POST"
      >
        <input type="hidden" name="token" value="{{token}}" />
        <div class="pb-4 mb-3">
          <label class="form-label" for="password"> Nueva Contraseña:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <div class="pb-4 mb-3">
          <label class="form-label" for="confirmPassword">Confirmar Contraseña:</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            required
          />
        </div>
        <button type="submit" class="btn btn-light m-3">Restablecer Contraseña</button>
      </form>
    </div>
  </div>
</div>