<div class="container">
  <div class="row">
    <div>
      <p style="visibility: hidden;" id="token">{{token}}</p>
    </div>
    <div class="col-md-8 mx-auto">
      <h2 class="pb-5">RECUPERAR CONTRASEÑA</h2>
      <form>
        <div class="pb-4 mb-3">
          <label class="form-label" for="password"> Nueva Contraseña:</label>
          <input type="password" class="form-control" id="password" required />
        </div>
        <div class="pb-4 mb-3">
          <label class="form-label" for="confirmPassword">Confirmar Contraseña:</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            required
          />
        </div>
        <button
          id="btn-actualizarPassword"
          type="button"
          class="btn btn-primary"
        >Restablecer Contraseña</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/newPassword.js"></script>