<div class="container">
  <div class="productos">
    <div>
      <h1>Password Recovery</h1>
      <form id="recoveryForm">
        <label for="email">Email:</label>
        <input type="email" id="email" required />
        <button type="button" onclick="requestRecovery()">Request Recovery</button>
      </form>

      <script src="../public/js/recovery.js"></script>
    </div>
  </div>
</div>