<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <form
        action="/api/users/{{user._id}}/documents"
        id="uploadForm"
        target="_blank"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="hidden" name="uid" value="{{user._id}}" />
        <h3 class="mb-4">UPLOAD PREMIUM DATA</h3>
        <div>
          <div class="mb-3">
            <label
              for="identificationDocument"
              class="form-label"
            >Identificacion</label>
            <input
              type="file"
              name="identificationDocument"
              id="identificationDocument"
              accept="image/*, .pdf"
            />
          </div>
          <div class="mb-3">
            <label for="domicileProofDocument" class="form-label">Comprobante de
              domicilio</label>
            <input
              type="file"
              name="domicileProofDocument"
              id="domicileProofDocument"
              accept="image/*, .pdf"
            />
          </div>
          <div class="mb-3">
            <label for="accountStatementDocument" class="form-label">Comprobante
              de estado de cuenta</label>
            <input
              type="file"
              name="accountStatementDocument"
              id="accountStatementDocument"
              accept="image/*, .pdf"
            />
          </div>
          <button type="submit" class="btn btn-primary m-4">Enviar</button>
        </div>
      </form>
      <div id="uploadPremiumMessage">
        <form action="/api/users/premium/{{userId}}" method="post">
          <div><button class="btn btn-primary m-3" type="submit">Hazte Premium</button></div>
        </form>
      </div>
    </div>
  </div>
</div>