<div class="container">
  <div class="row">
    <div>
      <h3 class="col-md-6 offset-md-3">Restablecer Contraseña</h3>
      <form class="offset-md-3 w-50 p-3">
        <div class="mb-3">
          <label class="form-label">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>

        <button
          id="btn-cambiarPassword"
          type="button"
          class="btn btn-primary"
        >Enviar</button>
      </form>
    </div>
  </div>
</div>
<script src="/js/recuperar.js"></script>