body {
  margin-top: 50px;
  background-color: antiquewhite;
}

#nuevo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  border: 1px solid;
  width: 300px;
  height: 150px;
  margin-right: 1%;
}

#listadoProductos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  height: 50px;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 2px dotted grey;
}

#nuevoDos {
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  margin-right: 1%;
}

#acciones {
  display: flex;
  flex-direction: row;
}
